.container {
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
    
}
.numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container p {
    font-size: 30px;
    border: 1px solid red;
    border-radius: 50%;
    padding: 30px;
}
.container input {
    background-color: black;
    border-radius: 15px;
    font-display: center;
    color: #fff;
    width: 120px;
    padding: 20px;    
    margin-left: 45%;
    margin-top: 3%;
    outline: none;
}